.contacts-list {
  display: flex;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  margin-right: 85px;
  padding-bottom: 25px;
  padding-top: 24px;
}
.logo-link-accent {
  color: $accent-color;
}
